{
  "app": {
    "guid": "1f78ea2b-93cf-4604-a0e0-6c0a02d7ff4f",
    "version": "1.0-SNAPSHOT",
    "groupId": "io.cronapp.apps.conexao",
    "artifactId": "io.cronapp.apps.conexao"
  },
  "odata": {
    "exposeEntities": true,
    "exposeMetadata": false,
    "metadataSecurity": "Administrators;",
    "entitiesSecurity": "Authenticated;",
    "expandCompositeKeys": false,
    "addDisplayFields": true
  },
  "security": {
    "token": "MWY3OGVhMmItOTNjZi00NjA0LWEwZTAtNmMwYTAyZDdmZjRm",
    "tokenExpiration": 3600,
    "tokenRecaptcha": null
  },
  "auth": {
    "type": "Token",
    "defaultDomain": null,
    "hostname": null,
    "autoSignUp": true,
    "socialLogin": false,
    "mutual": false,
    "socialNetworks": [],
    "autoSignUpSocial": false,
    "applicationProperties": {},
    "templateProperties": {
      "mutual": "false",
      "social": "false",
      "appid": "io.cronapp.apps.conexao",
      "backend": "true",
      "theme": "Fuse",
      "authentication": "Token",
      "frontend": "true"
    },
    "groupName": null
  },
  "fixedTimeZone": true,
  "timeZone": "UTC",
  "timeZoneOffset": 0,
  "flushMode": "AUTO",
  "xframeOptions": "SameOrigin"
}